* {
    font-family: 'Merriweather', serif;
    line-height: 2;
}
.outer-div{
    margin: 3% 15%;
}

.meeting-summary-div {
    float: left;
    width: 40%;
    /*border: 3px double #6d8b74;*/
}

tr {
    height: 50px;
}

.table-header {
    width: 35%;
}

.availability-picker-div {
    float: left;
    /*border: 3px double #6d8b74;*/

}

@media screen and (max-width: 600px) {
    .meeting-summary-div {
        width: 100%;
    }
}