* {
    font-family: 'Merriweather', sans-serif;
    line-height: 2;
}

.outer-div{
    margin: 3% 15%;
}

.signUp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.aa{
    width:500px;
}

