.availability-table-cell {
  min-width: 48px;
  min-height: 48px;
}

table, td, th {
  border-collapse: collapse;
  padding: 0;
  border: 1px solid;
  border-color: aliceblue;
  /* border: none; */
}
