/*body {font-family: "Lato", sans-serif;}*/

.sidebar {
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 16px;
    font-size: 20px;
}

.item-top {
    padding: 10px 8px;
    text-decoration: none;
    color: #818181;
    display: block;
}

.item-bottom {
    padding: 0 32%;
    text-decoration: none;
    color: #818181;
    display: block;
    position: absolute;
    bottom: 50px;
}

.sidebar a:hover {
    color: #f1f1f1;
}